:root {
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw; 
  width: 100vh;
  min-height: 100vh;
}

img {
  height: 350px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.about-me {
  font-family: 'Arial', sans-serif;
  color: #333;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.about-me header h1 {
  text-align: center;
  color: #444;
}

.portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.story {
  text-align: justify;
  margin-bottom: 20px;
}

.story h2 {
  color: #555;
}

.portfolio {
  margin-bottom: 20px;
}

.contact-link {
  text-align: center;
  margin-top: 20px;
}

.contact-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #005f73;
}

.react-pro-sidebar {
  background-color: red /* Change to your desired color */
}